@import '../styles/app.scss';


.labelText {
    font-family: $font-2;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.01em;
    opacity: 0.7;
    margin-top: 57px;
}

.btn {
    width: 203px;
    height: 45px;
    background-color: #7B7FDA;
    border-radius: 10px;
    border:none;
    font-family:$font-2;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.4px;
    margin-top: 15px;
    color: #FFFFFF;
}

.uploadContainer {
    margin-top:35px;
    height: 220px;
    background: #F9FAFF;
    border: 1px dashed #E0E7FF;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

