@import '../styles/app.scss';

.inputBox {
    display: flex;
}

.input {
    padding-left: 48px;
    height: 40px;
    // width: 315px;
}



.cal {
    position:absolute;
    left: 275px;
    top: 675px;
    z-index: 99;
    path {
        fill:rgba(48, 20, 70, 0.7);;
    }
}

