@import '../styles/app.scss';

.container{
    background-color: #301446;
    display: flex;
    justify-content: center;
}

.content {
    padding: 0;
    margin: 0;
    width: 1162px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 48px;
}
.info {
    width: 584px;
    .heading {
        font-weight: 700;
        font-size: 56px;
        color: #FFFFFF;
    }
    .headingSpan {
        color: #F9AD6D;
    }
    .subheading {
        width: 522px;
        margin-top: 18px;
        font-size: 20px;
        color: #FFFFFF;
        opacity: .8;
    }
    .btn {
        margin-top: 39px;
        margin-bottom: 114px;
        font-size: 18px;
        height: 52px;
        width: 185px;
    }
    
}

.image {
    height: 604px;
    width: 530px;
}


@media only screen and (max-width:425px) {

    .container {
        align-items: center;
        justify-content: center;
    }
    .content {
        margin-top: 77.5px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .info {
        width: 100%;
        text-align: center;
        .heading {
            width: 90%;
            font-size: 36px;
            margin: 0 auto;
        }
        .subheading {
            width: 90%;
            margin: 0 auto;
            line-height: 140%;
            font-size: 18px;
        }
    }

    .btn {
        margin-bottom: 0px;
    }

    .image {
        height: 324px;
        width: 284px;
    }

}

