@import '../styles/app.scss';

.container {
    background-color: $black;
}

.largeContainer {
    padding-top: 42px;
    width: 1201px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.smallContainer {
    display: none;
}

.navLogo {
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: row;
    height: 50px;
    gap: 60px;
    align-items: center;
}

.li {
    font-family: $font-2;
    font-weight: 700;
    font-size: 13px;
    color: #ffffff;
    opacity: .5;
    
}

.li:hover {
    opacity: 1;
    text-decoration: underline;
    cursor: pointer;
}

.btn {
    width: 180px;
    height: 50px;
    font-size: 13px;
    color:#ffffff;
}

.navLogo:hover,.btn:hover {
    cursor:pointer;
}

.hide {
    display: none;
}

@media only screen and (max-width:425px) {
    .largeContainer {
        display: none;
    }
    .smallContainer {
        display: inline;
    }
    .navContainer {
        padding-top: 37px;
        padding-left: 30px;
        padding-right: 30px;
        background-color:$black;
        display: flex;
        justify-content: space-between;
    }

    .navLogo {
        height: 20px;
        width: 124px;
    }

    .show{ 
        background-color: #301446;
    }

    .links {
        padding-top: 40px;
        flex-direction: column;
        height: 100vh;
    }

    .li {
        font-size: 17px;
    }
    
}