@import '../styles/app.scss';

.heading {
    color: #301446;
    font-family: $font-1;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -.06em;
}

.subHeading {
    color: #301446;
    font-family: $font-2;
    font-weight: 700;
    font-size: 16px;
    opacity: .7;
    letter-spacing: -.01em;
}

.rules {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.data {
    font-family: $font-2;
    font-weight: 600;
    font-size: 16px;
    color: #301446;
    opacity: .7;
    span {
        margin-left: 12px;
    }
}