@import '../styles/app.scss';

.container {
    width: 817px;
    box-sizing: border-box;
    padding-top: 42px;
    padding-left: 29px;
    color: $black;
    border-radius: 8px;
    border: 2px solid rgba(48, 20, 70, 0.05);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.heading {
    font-family: $font-1;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -6%;
}

.rulesContainer {
    padding-left: 29px;
    padding-right: 61px;
    margin-top: 35px;
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.rule {
    font-family: $font-2;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -1%;
}

.row {
    align-items: center;
}

.r {
    padding-left: 17px;
    opacity: .7;
}

@media only screen and (max-width:1360px) {

    .container {
        width: 328px;
        border-bottom-left-radius: 8px;
        border-top-right-radius: 0;
    }
   
    .heading {
        font-size: 24px;
    }

    .rulesContainer {
        padding-left: 12px;
        padding-right: 24px;
        padding-bottom: 38px;
    }
}