@import '../styles/app.scss';




.mainContainer {
    color:$black;
    width: 996px;
    margin:0 auto;
    padding-bottom: 141px;
}

.container {
    margin-top: 72px;
}

.heading {
    font-size: 24px;
}


.row {
    gap:26px;
    margin-bottom: 32px;
}



.input {
    width: 315px;
    height: 40px;
}



.btnContainer {
    margin-top: 90px;
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.btn {
    font-size: 18px;
    height: 56px;
    width: 128px;
    padding: 18px 32px;
}

.updateBtn {
    margin-top: 48px;
    
    .row {
        gap:13px;
    }
    
    .btn {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        font-size: 14px;
        width: 38px;
        height: 40px;
        background: #ffffff;
        color: black;
        border: 1px solid #E0E7FF;
    }

    .input {
        margin: 0;
        padding-left: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        margin: 0;
        border-radius: 0;
    }

    .minus {
        border-right: none;  
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .plus {
        border-left: none;  
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.updateBtnContainer {
    display: flex;
    margin: 0;
    height: 40px;
    gap: 0;
}

.students {
    margin-top: 48px;
}


@media only screen and (max-width:1100px) {
    .mainContainer {
        width: 90%;
    }
    .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .input {
        width: 90vw;
    }
    .btnContainer {
        justify-content: flex-start;
        margin: 0;
        left: -10px;
    }
}