@import '../styles/app.scss';



.container {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 35px 32px 32px;
    width: 996px;
    margin-left: auto;
    margin-right: auto;
}

.orange,.yellow,.green {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cal {
    height: 24px;
    width: 24px;
}

.orange {
    fill:#EA7052;
    .heading {
        color:#EA7052
    }
}

.yellow {
    fill:#F9AD6D;
    .heading {
        color: #F9AD6D;
    }
}

.green {
    fill:#68BC98;
    .heading {
        color: #68BC98;
    }
}

.heading{
    font-family: $font-1;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -6%;
    line-height: 110%;
}

.date {
    display: flex;
    gap:10px;
    color:$black;
    font-family: $font-2;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: .4px;
    line-height: 110%;
}

.data {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    .row {
        gap: 16px;
        align-items: center;
    }
    .col {
        flex-direction: row;
        justify-content: flex-start;
    }
    margin-top: 40px;
    
    
}

.content {
    font-family: $font-2;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -1%;
    opacity: .7;
    line-height: 110%;
}

.lineBox {
    width: 932px;
    height: 56px;
    opacity: 0.5;
    border: 3px dashed $black;
    border-top: none;
    border-bottom: none;
    margin:0 auto;
}

.lineBoxHide {
    display: none;
}


@media only screen and (max-width:425px) {
    .container {
        width: 90%;
        padding: 25px 24px 31px;
    }

    .cal {
        width: 16px;
        height: 16px;
    }

    .orange,.yellow,.green {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 11px;
    }
    
    .heading {
        font-size: 24px;
    }

    .date {
        font-size: 16px;
    }

    .lineBox {
        width: 281px;
    }
}