@import '../styles/app.scss';

.container {
    color: $black;
}

.heading {
    font-family:$font-1;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -6%;
    margin-bottom: 24px;
}

.row {
    display: flex;
    gap:24px;
    margin-bottom: 24px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.labelText {
    font-family: $font-2;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.01em;
    opacity: 0.7;
}

.input {
    box-sizing: border-box;
    width: 231px;
    height: 40px;
    background: #F9FAFF;
    border: 1px solid #E0E7FF;
    border-radius: 4px;
    font-family: $font-2;
    font-weight: 600;
    font-size: 14px;
    opacity: .7;
    letter-spacing: -.01em;
}