@import '../styles/app.scss';




.mainContainer {
    color:$black;
    width: 996px;
    margin:0 auto;
    padding-bottom: 141px;
}

.container {
    margin-top: 72px;
}

.heading {
    font-size: 24px;
}


.row {
    gap:26px;
    margin-bottom: 32px;
}



.input {
    width: 315px;
    height: 40px;
}



.btnContainer {
    margin-top: 90px;
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.btn {
    font-size: 18px;
    height: 56px;
    width: 128px;
    padding: 18px 32px;
}


@media only screen and (max-width:1100px) {
    .mainContainer {
        width: 90%;
    }
    .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .input {
        width: 90vw;
    }
    .btnContainer {
        justify-content: flex-start;
        margin: 0;
        left: -10px;
    }
}