@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Mulish:wght@600;700&display=swap');

$font-1:'Montserrat', sans-serif;
$font-2:'Mulish', sans-serif;
$orange:#EA7052;
$black:#301446;