
$font-1:'Montserrat', sans-serif;
$font-2:'Mulish', sans-serif;
$orange:#EA7052;
$black:#301446;

.heading {
    font-family: $font-1;
    font-weight: 600;
    letter-spacing: -.06em;
}

.subheading {
    font-family: $font-2;
    font-weight: 600;
    letter-spacing: -.01em;
}

.btn {
    font-family: $font-2;
    font-weight: 700;
    background-color: $orange;
    border-radius: 10px;
    letter-spacing: .4px;
    color:#FFFFFF;
    border: none;
    transition: .2s ease-in-out 0s;

}

.btn:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.input {
    box-sizing: border-box;
    background: #F9FAFF;
    border: 1px solid #E0E7FF;
    border-radius: 4px;
    font-family: $font-2;
    font-weight: 600;
    letter-spacing: -.01em;
}

.row {
    display: flex;
}